In [4]:
import pandas as pd
import importlib
import dwd as dwd
from dwd.extract import dwd_extractor
importlib.reload(dwd)

In [5]:
extractor = dwd_extractor()

In [6]:
test = extractor.get_file_for_month(2)

In [7]:
pd.read_csv(test, skiprows=[0], delimiter=";")

,Jahr,Monat,Brandenburg/Berlin,Brandenburg,Baden-Wuerttemberg,Bayern,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Niedersachsen/Hamburg/Bremen,Nordrhein-Westfalen,Rheinland-Pfalz,Schleswig-Holstein,Saarland,Sachsen,Sachsen-Anhalt,Thueringen/Sachsen-Anhalt,Thueringen,Deutschland,Unnamed: 19
0,1881,2,-1.00,-1.01,1.33,-0.73,0.75,-2.01,-0.05,-0.07,1.64,1.45,-1.81,2.25,-0.92,-0.42,-0.34,-0.25,-0.10,NaN
1,1882,2,2.06,2.05,0.72,-0.60,1.44,2.01,3.03,3.03,3.07,1.68,2.74,2.24,1.43,2.24,1.84,1.33,1.54,NaN
2,1883,2,1.63,1.62,2.73,0.88,2.91,1.64,3.31,3.31,4.17,3.42,2.46,3.95,1.06,2.12,2.03,1.93,2.30,NaN
3,1884,2,2.89,2.88,2.55,1.19,2.56,2.78,3.65,3.65,4.03,2.91,3.33,3.54,2.16,2.99,2.61,2.13,2.66,NaN
4,1885,2,2.45,2.44,3.55,1.42,3.31,2.27,4.05,4.04,5.08,4.01,2.85,4.73,1.98,2.72,2.57,2.38,2.97,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2017,2,1.96,1.95,3.41,2.40,3.39,1.72,3.18,3.18,4.49,4.08,2.48,4.35,2.23,2.62,2.49,2.33,2.90,NaN
137,2018,2,-1.64,-1.66,-2.09,-2.96,-1.99,-1.47,-1.02,-1.02,-0.91,-1.40,-0.69,-0.90,-2.75,-1.67,-2.27,-3.05,-1.87,NaN
138,2019,2,4.25,4.24,3.37,1.96,3.88,4.48,5.18,5.18,5.56,4.66,4.81,4.81,3.50,4.67,4.13,3.43,3.95,NaN
139,2020,2,5.81,5.81,5.17,4.26,5.03,5.48,5.98,5.98,6.02,5.34,5.62,5.61,5.01,5.88,5.36,4.69,5.29,NaN
140,2021,2,0.50,0.48,2.96,1.44,1.46,0.90,1.92,1.92,3.22,3.37,1.73,4.13,0.41,0.88,0.61,0.25,1.71,NaN